<?xml version='1.0' encoding='utf-8'?>


<widget id="com.phonegap.helloworld"

version="1.0.0" 
xmlns="http://www.w3.org/ns/widgets" 

versionCode = "1"

xmlns:gap="http://phonegap.com/ns/1.0">
  

<name>TestEin</name>
    

<description>
Beispiel Code</description>
  

<author  email="veter_peremen_i@mail.ru" href="http://phonegap.com">
        Polina Wilke    </author>
 
 <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
	<gap:plugin name="cordova-plugin-sms" source="npm" />
	
	<gap:plugin name="Phonegap-SMS"  source="npm" />



</widget>
